/* Textarea Styles */
.jigl-textarea {
    .jigl-container {
        padding-bottom: 5px;
    }
    
    textarea {
        height: 150px;
        width: 99%;
        overflow-y: auto;
        overflow-x: hidden;
        white-space: pre-line;
        resize: none;
        margin-bottom: -4px;
    }
}

@media (max-width: 600px) {
    .jigl-textarea {
        textarea {
            height: 215px;
            width: 98%;
        }
    }
}